<form class="form-horizontal" autocomplete="off" #createProductModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'CreateNewProduct' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">
                {{ 'Name' | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" id="name" required maxlength="128"
                    [(ngModel)]="product.name" #nameModel="ngModel" #nameEl />
                <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="price">
                {{ 'Value' | localize }}
            </label>
            <div class="col-md-9">
                <input type="number" class="form-control" name="price" id="price" required min="0" step="0.01"
                    [(ngModel)]="product.price" #priceModel="ngModel" #priceEl />
                <abp-validation-summary [control]="priceModel" [controlEl]="priceEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-md-3 col-form-label">
                {{ 'IsAvailable' | localize }}
            </label>
            <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="isAvailable" id="isAvailable"
                        [(ngModel)]="product.isAvailable" />
                    <label class="custom-control-label mt-2" for="isAvailable"></label>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createProductModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>